<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Inserisci i dettagli dello studente</h1>
	<form action="#" th:action="@{/addCorso}" th:object="${corso}"
		method="post">
		<p>
			Codice:<input type="text" th:field="*{codice}" />
		</p>
		<p>
			Nome:<input type="text" th:field="*{nome}" />
		</p>
		<p>
			Indirizzo:<input type="text" th:field="*{indirizzo}" />
		</p>
		<p>
			Numero Esami:<input type="text" th:field="*{numeroEsami}" />
		</p>
		
		
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
		</form>

</body>
</html>