<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Lista Studenti</h1>

<div th:each="s: ${listaStudenti}">
		<div th:text="${s.toString()}"></div>
</div>
<table>
		<tr>
			<td><a href="studente">Aggiungi studente</a></td>
		</tr>
		<tr>
			<td><a href="modificaStudente">Modifica uno studente</a></td>
		</tr>
		<tr>
			<td><a href="eliminaStudente">Elimina studente</a></td>
		</tr>
		<tr>
			<td><a href="segreteria">Home</a></td>
		</tr>
		</table>

</body>
</html>